@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import 'tailwindcss';
@font-face {
    font-family: 'alinur';
    src: url("../../public/font/Li Alinur Tatsama Unicode.ttf") format("truetype");
}
@font-face {
    font-family: 'noto sans';
    src: url("../../public/font/NotoSansBengali-VariableFont_wdth,wght.ttf") format("truetype");
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'noto sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: 'noto sans', sans-serif !important;
}

select:disabled,
input:disabled,
textarea:disabled,
button:disabled {
    background-color: #f1f5f9;
    color: #64748b;
    cursor: not-allowed;
    opacity: 1;
}
